@font-face {
	font-display: fallback;
	font-family: "Space Mono";
	src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"),
		url("../fonts/spacemono-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: "Ecra";
	src: url("../fonts/Ecra-Light.woff2") format("woff2"),
		url("../fonts/Ecra-Light.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-display: fallback;
	font-family: "Ecra";
	src: url("../fonts/Ecra-LightItalic.woff2") format("woff2"),
		url("../fonts/Ecra-LightItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: "Fabriga";
	src: url("../fonts/Fabriga-Regular.woff2") format("woff2"),
		url("../fonts/Fabriga-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

// @font-face {
font-display: fallback;
// 	font-family: "Fabriga";
// 	src: url("../fonts/Fabriga-RegularItalic.woff2") format("woff2"),
// 		url("../fonts/Fabriga-RegularItalic.woff") format("woff");
// 	font-weight: normal;
// 	font-style: italic;
// }

@font-face {
	font-display: fallback;
	font-family: "Fabriga";
	src: url("../fonts/Fabriga-Medium.woff2") format("woff2"),
		url("../fonts/Fabriga-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

// @font-face {
font-display: fallback;
// 	font-family: "Fabriga";
// 	src: url("../fonts/Fabriga-MediumItalic.woff2") format("woff2"),
// 		url("../fonts/Fabriga-MediumItalic.woff") format("woff");
// 	font-weight: 500;
// 	font-style: italic;
// }

// @font-face {
font-display: fallback;
// 	font-family: "Fabriga";
// 	src: url("../fonts/Fabriga-BoldItalic.woff2") format("woff2"),
// 		url("../fonts/Fabriga-BoldItalic.woff") format("woff");
// 	font-weight: 700;
// 	font-style: italic;
// }

// @font-face {
font-display: fallback;
// 	font-family: "Fabriga";
// 	src: url("../fonts/Fabriga-Bold.woff2") format("woff2"),
// 		url("../fonts/Fabriga-Bold.woff") format("woff");
// 	font-weight: 700;
// 	font-style: normal;
// }
