/// This mixin assumes mobile-first coding, and helps you respond to different breakpoints
/// from within each applicable selector.
/// It pulls breakpoints from a map of breakpoints set in _variables.scss

@mixin respond-to($breakpoint) {
	// Retrieves the value of the breakpoint
	$value: map-get($breakpoints, $breakpoint);

	// If the breakpoint exists in the map
	@if $value != null {
		// Prints a media query based on the value
		@media (min-width: $value) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		  + "Please make sure it is defined in `$breakpoints` map.";
	}
}

//Fade in on load

@mixin fadeinload {
	animation: fadein 2s;
	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
