/// This mixin assumes mobile-first coding, and helps you respond to different breakpoints
/// from within each applicable selector.
/// It pulls breakpoints from a map of breakpoints set in _variables.scss

/**
 * This mixin assumes mobile-first coding, and helps you respond to different breakpoints from within each applicable selector.
 * It pulls breakpoints from a map of breakpoints set in _variables.scss
 * @author Aurooba Ahmed <https://aurooba.com>
 */

@mixin respond-to($breakpoint) {
	// Retrieves the value of the breakpoint
	$value: map-get($breakpoints, $breakpoint);

	// If the breakpoint exists in the map
	@if $value != null {
		// Prints a media query based on the value
		@media (min-width: $value) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		  + "Please make sure it is defined in `$breakpoints` map.";
	}
}

// Animation for the download arrow icon (_download.scss)
@keyframes bounce2 {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-0.15rem);
	}
	60% {
		transform: translateY(0.05rem);
	}
}
