html {
	color: var(--global-color-brand-primary, var(--primary));
	background-color: var(--background);
	font-family: var(--body);
	font-weight: 100;
}
* {
	// transition: 0.5s ease all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headings);
}

h1 {
	font-weight: bold;
	font-size: clamp(7.2rem, 10vw, 14.4rem);
	letter-spacing: -0.05em;
	line-height: var(--step-2);
}

h2 {
	font-size: var(--step-1);
	letter-spacing: -0.05em;
	font-weight: 500;
}

h3 {
	font-size: var(--step--1);
	text-transform: uppercase;
}

a {
	color: var(--primary);
	transition: all 0.25s linear;
	&:hover {
		color: var(--light);
	}
}

main {
	max-width: 76.875rem;
	position: relative;
	@include respond-to(gulf) {
		margin: 0 6.25rem;
	}
}

svg {
	path {
		transition: all 0.25s linear;
	}

	.sf-background {
		fill: var(--global-color-brand-primary, var(--primary));
	}
	.sf-mark {
		fill: var(--background);
	}
}

ul,
ol {
	list-style: none;
	line-height: 2rem;
}

ul {
	li {
		&:before {
			content: "●";
			color: var(--light);
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}

ol {
	counter-reset: li;
	li {
		counter-increment: li;
		&:before {
			content: "." counter(li);
			color: var(--light);
			display: inline-block;
			width: 1em;
			margin-left: -1.5em;
			margin-right: 0.5em;
			text-align: right;
			direction: rtl;
		}
	}
}

p + p {
	margin-top: 1rem;
}
