.offscreen {
	position: absolute;
	left: -9999px;
	display: block;
}
.onscreen {
	left: 0;
}

.hide {
	display: none;
}

.no-bullets {
	list-style: none;
}

.bulleted {
	list-style: disc;
}

.uppercase {
	text-transform: uppercase;
}
