@charset "UTF-8";
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ecra";
  src: url("../fonts/Ecra-Light.woff2") format("woff2"), url("../fonts/Ecra-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Ecra";
  src: url("../fonts/Ecra-LightItalic.woff2") format("woff2"), url("../fonts/Ecra-LightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Fabriga";
  src: url("../fonts/Fabriga-Regular.woff2") format("woff2"), url("../fonts/Fabriga-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fabriga";
  src: url("../fonts/Fabriga-RegularItalic.woff2") format("woff2"), url("../fonts/Fabriga-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Fabriga";
  src: url("../fonts/Fabriga-Medium.woff2") format("woff2"), url("../fonts/Fabriga-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fabriga";
  src: url("../fonts/Fabriga-MediumItalic.woff2") format("woff2"), url("../fonts/Fabriga-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Fabriga";
  src: url("../fonts/Fabriga-BoldItalic.woff2") format("woff2"), url("../fonts/Fabriga-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Fabriga";
  src: url("../fonts/Fabriga-Bold.woff2") format("woff2"), url("../fonts/Fabriga-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.15rem);
  }
  60% {
    transform: translateY(0.05rem);
  }
}
/*
This map is used for a mobile first responsive coding
approach mixin in _mixins.scss. Breakpoint names are
inspired by bodies of water, because they expand and
shrink with the weather. These denote some default
screen breaks. More can be added if needed.

Vocabulary options: pond, brook, creek, gulf, sea.
*/
:root {
  --primary-fallback: rgb(49, 207, 181);
  --primary: var(--sf-decision-color-mainBrandColor, var(--primary-fallback));
  --secondary: #37526a;
  --detail: #3a4147;
  --background: #141e27;
  --light: rgb(255, 255, 255);
  --light-rgb: 255, 255, 255;
  --dark: rgba(0, 0, 0, 0.2);
  --highlight: #ffd700;
  --step--1: 0.75rem;
  --base: 16px;
  --step-0: clamp(1.125rem, 1.2vw, 12rem);
  --step-1: clamp(2rem, 2vw, 2.4rem);
  --step-2: clamp(4rem, 10vw, 14.4rem);
  --line-height: 1.375rem;
  --body: "Ecra", sans-serif;
  --headings: "Fabriga", serif;
  --monospace: "Space Mono", monospace;
  --padding: 1.125rem;
  --complete: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.11269' y='9.3032' width='9' height='3' transform='rotate(40 2.11269 9.3032)' fill='%23141E27'/%3E%3Crect x='4.78059' y='15.4581' width='14' height='3' transform='rotate(-50 4.78059 15.4581)' fill='%23141E27'/%3E%3C/svg%3E%0A");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  color: var(--global-color-brand-primary, var(--primary));
  background-color: var(--background);
  font-family: var(--body);
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings);
}

h1 {
  font-weight: 500;
  font-size: var(--step-2);
  letter-spacing: -0.05em;
  line-height: var(--step-2);
}

h2 {
  font-size: var(--step-1);
  letter-spacing: -0.05em;
  font-weight: 500;
}

h3 {
  font-size: var(--step--1);
  text-transform: uppercase;
}

a {
  color: var(--primary);
  transition: all 0.25s linear;
  text-decoration-color: rgba(var(--light-rgb), 0.3);
}
a:hover {
  color: var(--light);
}

main {
  max-width: 76.875rem;
  position: relative;
}
@media (min-width: 1000px) {
  main {
    margin: 0 6.25rem;
  }
}

svg path {
  transition: all 0.25s linear;
}
svg .sf-background {
  fill: var(--global-color-brand-primary, var(--primary));
}
svg .sf-mark {
  fill: var(--background);
}

ul,
ol {
  list-style: none;
  line-height: 2rem;
  padding-inline-start: 1em;
}

ul li:before {
  content: "●";
  color: var(--light);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ol {
  counter-reset: li;
}
ol li {
  counter-increment: li;
}
ol li:before {
  content: "." counter(li);
  color: var(--light);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

p,
li {
  max-width: 41rem;
}

p + p {
  margin-top: 1rem;
}

::selection {
  background: var(--alias-color-cursorHighlight);
  color: var(--alias-backdrop-color);
  background: white;
  color: black;
  background: var(--highlight);
  color: var(--background);
}

.page-header {
  background-color: var(--dark);
  display: grid;
  padding: 3rem var(--step--1);
}
@media (min-width: 1000px) {
  .page-header {
    padding: 5.5rem 6.25rem 8rem 6.25rem;
  }
}

@media (min-width: 1000px) {
  .page-header-title {
    margin-left: calc(12vw - 3.125rem);
  }
}

.page-header-subtitle {
  order: 1;
  font-size: var(--step--1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}
@media (min-width: 1000px) {
  .page-header-subtitle {
    margin-left: 12vw;
  }
}

.logo-wrap {
  order: -1;
  display: flex;
  align-items: center;
  gap: 0.960625rem;
  margin-bottom: 6.4375rem;
}
.logo-wrap .logo {
  order: -1;
  line-height: 0;
}
.logo-wrap .logo a:hover svg .sf-background {
  fill: var(--light);
}

.project-title {
  order: 2;
  margin-bottom: 2.25rem;
}
@media (min-width: 1000px) {
  .project-title {
    margin-left: 12vw;
  }
}

.quick-links {
  order: 3;
}
@media (min-width: 1000px) {
  .quick-links {
    margin-left: 12vw;
  }
}

.quick-links {
  font-family: var(--headings);
  list-style: none;
}
.quick-links li {
  display: inline;
}
.quick-links li + li:before {
  content: "●";
  color: var(--global-color-brand-primary, var(--primary));
  padding: 0 0.42rem 0 0.3rem;
}

article {
  margin: 0 1rem 0 4.6rem;
  position: relative;
  padding-top: 2.8125rem;
}
article.entry-future {
  opacity: 0.55;
  transition: all 0.25s linear;
}
article.entry-future:hover {
  opacity: 1;
}
article:last-of-type:after,
article:last-of-type footer {
  display: none;
}
article:before {
  content: "";
  display: block;
  width: 44px;
  height: 45px;
  border: 1px solid var(--background);
  border-radius: 20px;
  background: var(--background);
  position: absolute;
  left: -3.85rem;
  top: 3rem;
}
article:after {
  content: "";
  border: 2px solid var(--detail);
  left: -2.6rem;
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 3rem;
}
@media (min-width: 1000px) {
  article {
    padding-left: calc(12vw - 4.5rem);
  }
}
article .entry-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
article .entry-header .entry-title {
  font-size: var(--step-1);
  position: relative;
}
article .entry-header .entry-title:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid var(--global-color-brand-primary, var(--primary));
  border-radius: 20px;
  background: var(--global-color-brand-primary, var(--primary));
  position: absolute;
  left: -3.475rem;
  top: 0.6rem;
}
@media (min-width: 1000px) {
  article .entry-header .entry-title:before {
    left: calc((12vw - 1rem) * -1);
  }
}
article .entry-header .entry-title:after {
  content: "";
  background: var(--complete) no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -47px;
  top: 1rem;
}
@media (min-width: 1000px) {
  article .entry-header .entry-title:after {
    left: calc((12vw - 1.5rem) * -1);
  }
}
article .entry-header .entry-date {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--headings);
  font-weight: 500;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  article .entry-header .entry-date .parenthesis {
    display: none;
  }
}
@media (min-width: 500px) {
  article .entry-header .entry-date {
    flex-direction: column;
    align-items: flex-start;
  }
}
article .entry-header .relative-time {
  font-family: var(--monospace);
  font-size: var(--step--1);
}
article .entry-content {
  margin-top: 1.5rem;
}
@media (min-width: 500px) {
  article .entry-content {
    max-width: 80%;
  }
}
article.entry-future .entry-title:before {
  border-color: var(--global-color-brand-primary, var(--primary));
  background: transparent;
}
article footer {
  padding-top: 2.5625rem;
  border-bottom: 1px solid var(--secondary);
}

.download {
  display: flex;
  align-items: center;
  background-color: var(--global-color-brand-primary, var(--primary));
  padding: var(--padding);
  color: var(--background);
  font-size: var(--step-0);
  text-decoration: none;
  font-family: var(--headings);
  font-weight: 500;
  gap: 1.25rem;
  transition: all 0.25s ease;
}
.download svg {
  fill: var(--light);
  transition: all 0.25s ease;
}
.download:hover {
  background-color: var(--light);
  color: var(--background);
}
.download:hover svg {
  animation: bounce2 2s ease infinite;
  fill: var(--global-color-brand-primary, var(--primary));
}

.entry-future .download svg path {
  fill: var(--detail);
}
.entry-future .download a {
  filter: brightness(0.55);
}

footer.page-footer {
  margin-top: 8.75rem;
  margin-bottom: 5rem;
  padding: 0 var(--step--1);
  font-family: var(--headings);
}
@media (min-width: 1000px) {
  footer.page-footer {
    padding: 5.5rem 0 8rem calc(0.25rem + 12vw);
  }
}

/*# sourceMappingURL=project-hub.css.map */
